{% extends 'posts/layout.html' %}

{% block content %}
<div class="row red lighten-3">
  <h1 class="center-align">{{post.title}}</h1>
</div>

<div class="card">
  <div class="card-content">
    {{post.body}}
  </div>
  <div class="card-action">
    Date created: {{post.date}}
  </div>
</div>
<form action="/posts" >
  <button class="btn waves-effect waves-light red lighten-3 white-text" type="submit" name="action" >Go Back
      <i class="material-icons left">arrow_back</i>
    </button>
</form>

{% endblock %}
