{% extends 'posts/layout.html' %}

{% block content %}
  <div class="row">
      <div class="col s6">
        <div class="card-panel z-depth-5 grey darken-4">
            <h3 class="center-align white-text">My Posts</h3>
        </div>
        <div style="overflow-y: scroll; height:400px; background-color:rgba(0, 0, 0, 0.5);">
        {% for post in posts %}
          <a href="/posts/details/{{post.id}}">
            <div class="card-panel hoverable">
                <h5 class="left-align black-text">{{post.title}}</h5>{{post.date}}
            </div>
          </a>
        {% endfor %}
      </div>
      </div>
      <div class="col s6">
        <div class="card-panel z-depth-5">
            <div class="row valign-wrapper">
            <div class="col s2">
              <img class="responsive-img circle" src="/static/myPic.png" width="150" height="150">
            </div>
            <div class="col s10">
              <span class="black-text">
                <h4>Greg Marvin T. Cabrera</h4>
              </span>
            </div>
          </div>
            <p align="justify">Batman has been Gotham's protector for decades, CEO of Wayne Enterprises, Patriarch of the Bat Family and veteran member of the Justice League. is a superhero co-created by artist Bob Kane and writer Bill Finger and published by DC Comics. The character made his first appearance in Detective Comics #27 (May, 1939). Batman is the secret identity of Bruce Wayne. Witnessing the murder of his parents as a child leads him to train himself to physical and intellectual perfection and don a bat-themed costume in order to fight crime. Batman operates in Gotham City, assisted by various supporting characters including his sidekick Robin and his butler Alfred Pennyworth, and fights an assortment of villains influenced by the characters' roots in film and pulp magazines. Unlike most superheroes, he does not possess any superpowers; he makes use (to the best that he can) of intellect, detective skills, science and technology, wealth, physical prowess, and intimidation in his war on crime.Batman became a popular character soon after his introduction, and eventually gained his own title, Batman. As the decades wore on, differing takes on the character emerged.
            </p>
        </div>
      </div>
  </div>

  <a href="/admin" style="display:block"class="right-align">Admin Login</a>

{% endblock %}
