<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Greg's Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/static/myStyle.css">
  </head>
  <body>
    <div class="video-container">
      <video autoplay muted loop>
        <source src="/static/batman.mp4" type="video/mp4" />
      </video>
    </div>
    <header class="container center-align">
        <p class="z-depth-3"><h1 class="blue-grey-text text-lighten-5 text-z-depth-5">Greg's Blog</h1></p>
    </header>
    <div class='container'>
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
